@font-face{
  font-family:'Glyphicons Halflings';
  src: image-url("bootstrap/glyphicons-halflings-regular.eot");
  src: image-url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       image-url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
       image-url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
       image-url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

.img-responsive-overwrite{
  margin: 0 auto;
}

.list{
  list-style: none;
  font-size: 16px;
}

#menu ul{
margin: 0;
padding: 0;
list-style: none;
}
#menu li{
padding: 0;
margin: 0;
}
#menu li a{
display: block;
text-decoration: none;
border-bottom: 0.5px solid #30B1C7;
color: #333;
width: 180px;
height: 32px;
padding: 4px;
text-align: left;
font-size: 16px;
font-weight: bold;
}
#menu li a:hover{
display: block;
text-decoration: underline;
}

.top {
	border:1px solid #bbb;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset,
                0 0 2px rgba(255, 255, 255, 0.3) inset,
                0 0 10px rgba(0, 0, 0, 0.1) inset,
                0 1px 20px rgba(0, 0, 0, 0.1);
  min-height: 600px;
}

p.description{
  font-size: 18px;
}

.btn-like{
  position: relative;
  width:150px;
  height:40px;
    img{
      width:40px;
      height: 25px;
      top: -100%;
      left: -100%;
      right: -100%;
      bottom: -100%;
      margin: auto;
    }
}

.new-guide{
  color: #30B1C7;
}