#user_nickname {
  width: 300px;
}

#user_email {
  width: 300px;
}

#user_password {
  width: 300px;
}

#user_password_confirmation {
  width: 300px;
  margin-bottom: 10px;
}

.session {
  margin: auto 0;
  padding-top: 10px;
}

.actions {
  padding-top: 10px;
}

.media-heading {
  font-size: 35px;
}
