.container.user-page
  %header.user-nav
    .media
      .media-body
        %h4#top-aligned-media.media-heading
          = @user.nickname
        .item.active
        - @knowledges.each do |knowledge|
          .item
            = link_to image_tag(knowledge.image), knowledge_path(knowledge), class: 'img-responsive'
            .caption
              %h4
                = knowledge.title
