%header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'ユーザー名'
        %li
          = link_to 'ナレッジを書く', '#'
          -# %form{:role => "search"}
          -#   %input.form-control{:placeholder => "例: タオル たたみ方", :type => "text"}/
          -#   %span.input-group-btn
          -#     %button.btn.btn-default{:type => "button"}
          -#       検索
